01_Data/BACI/
# Ignore ANY folder that starts with "03_Results" and 05_Checkups/HS_code_level_*
03_Results*/
04_ecomplexity_certification/HS_code_level_*/
05_Results_ecomplexity_certification/
__pycache__/
